Repository AkaraChen/starlight: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, biome check --apply, prettier --write

chore: update types
  packages/plugin-sdk/src/preference.ts
Due: eslint --fix, biome check --apply

chore: rename dir
  app/src/main/ipc.ts
  app/src/main/plugin/index.ts
  app/src/main/window.ts
  app/src/renderer/atoms/data.ts
  app/src/renderer/ipc.ts
  app/src/renderer/pages/app.tsx
  app/src/shared/ipc.ts
  app/tsconfig.node.json
  app/tsconfig.web.json
Due: eslint --fix, biome check --apply

chore: add preference type
  app/src/main/window.ts
  package.json
  packages/plugin-sdk/package.json
  packages/plugin-sdk/src/builder.ts
  packages/plugin-sdk/src/index.ts
  packages/plugin-sdk/src/preference.ts
  packages/plugin-sdk/src/types.ts
  packages/plugin-sdk/tsup.config.ts
  packages/plugin-utils/src/index.ts
  yarn.lock
Due: eslint --fix, biome check --apply

feat: setup react router dom
  app/package.json
  app/src/renderer/components/action-bar.tsx
  app/src/renderer/layout/app.tsx
  app/src/renderer/main.tsx
  app/src/renderer/pages/app.tsx
  app/src/renderer/router.tsx
  yarn.lock
Due: eslint --fix, biome check --apply

chore: upd
  app/src/renderer/atoms/data.ts
  packages/plugin-utils/src/dto.ts
  packages/plugin-utils/src/index.ts
  packages/plugin-utils/src/transform.ts
Due: eslint --fix, biome check --apply

ci: create dependabot.yml
  .github/dependabot.yml
Due: prettier --write

fix: sec
  plugins/window-manager/package.json
  yarn.lock
Due: eslint --fix, biome check --apply

chore: cleanup
  app/electron-builder.yml
  app/package.json
  app/postcss.config.js
  app/types/util.d.ts
  package.json
  plugins/app-launcher/package.json
  yarn.lock
Due: eslint --fix, biome check --apply, prettier --write

build: add electron forge
  app/build/config.gypi
  app/build/entitlements.mac.plist
  app/build/icon.icns
  app/build/icon.ico
  app/build/icon.png
  app/forge.config.js
  app/package.json
  yarn.lock
Due: eslint --fix, biome check --apply

feat: use dmg for macos build
  app/forge.config.js
  app/package.json
  yarn.lock
Due: eslint --fix, biome check --apply

chore: setup forge
  app/forge.config.js
  app/src/main/index.ts
Due: eslint --fix, biome check --apply

ci: fix
  app/package.json
  yarn.lock
Due: eslint --fix, biome check --apply

ci: add release script
  .github/workflows/lint.yml
  .github/workflows/publish.yml
Due: prettier --write

chore: upd config
  app/electron-builder.yml
  app/forge.config.js
  app/package.json
  app/tsconfig.node.json
  yarn.lock
Due: eslint --fix, biome check --apply, prettier --write

ci: fix
  yarn.lock
Due: none

ci: add ts check ci
  .github/workflows/test.yml
  app/package.json
  packages/plugin-sdk/package.json
  packages/plugin-utils/package.json
  packages/windows/win-dirs/package.json
  packages/windows/win-get-exe-icon/package.json
  plugins/app-launcher/package.json
  plugins/hello-world/package.json
  plugins/hello-world/tsconfig.json
  plugins/window-manager/package.json
  tsconfig.base.json
  turbo.json
  yarn.lock
Due: eslint --fix, biome check --apply, prettier --write

ci: fix typo
  .github/workflows/test.yml
Due: prettier --write

build: update deps
  app/package.json
  package.json
  website/package.json
Due: eslint --fix, biome check --apply

ci: lint run on pr
  .github/workflows/lint.yml
Due: prettier --write

ci: fix typo
  .github/workflows/lint.yml
Due: prettier --write

ci: fix
  .github/workflows/lint.yml
Due: prettier --write

init: init branch
  app/package.json
  app/src/main/data/app.ts
  app/src/main/data/preference.ts
  app/src/main/plugin/index.ts
  app/src/renderer/atoms/data.ts
  app/src/renderer/components/command.tsx
  app/src/renderer/components/context.tsx
  app/src/renderer/pages/app.tsx
  app/src/shared/ipc.ts
  packages/plugin-sdk/src/preference.ts
  packages/plugin-utils/package.json
  packages/plugin-utils/src/index.ts
  packages/plugin-utils/src/types.ts
  yarn.lock
Due: eslint --fix, biome check --apply

chore: upd
  app/package.json
  app/src/renderer/pages/app.tsx
  app/src/renderer/pages/settings.tsx
  app/src/renderer/router.tsx
  plugins/app-launcher/src/platform/windows.ts
Due: eslint --fix, biome check --apply

fix: turbo
  turbo.json
Due: eslint --fix, biome check --apply

fix: turbo
  docs/turbo.json
Due: eslint --fix, biome check --apply

ci: upd
  .github/dependabot.yml
Due: prettier --write

chore: upd
  app/src/renderer/pages/app.tsx
  app/src/renderer/pages/settings.tsx
  app/src/renderer/router.tsx
  plugins/app-launcher/src/platform/windows.ts
Due: eslint --fix, biome check --apply

fix: lint
  app/src/main/window.ts
  app/tsconfig.node.json
  package.json
  yarn.lock
Due: eslint --fix, biome check --apply

ci: fix script
  app/package.json
Due: eslint --fix, biome check --apply

ci: fix
  .yarnrc.yml
  plugins/app-launcher/package.json
  yarn.lock
Due: eslint --fix, biome check --apply, prettier --write

ci: fix
  .yarnrc.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,astro,json}
  biome check --apply: any of: *.{ts,tsx,js,jsx,astro,json}
  prettier --write: any of: *.{md,yml,yaml}
