Repository AkaraChen/starlight: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update syncpackrc
  .syncpackrc
Due: none

chore: pin ts version
  package.json
  website/package.json
  yarn.lock
Due: prettier --write

fix: build
  packages/plugin-utils/package.json
  packages/plugin-utils/src/transform.ts
  packages/plugin-utils/tsconfig.json
Due: eslint --fix, prettier --write

feat: better app launcher icon
  app/electron-builder.yml
  app/src/renderer/components/app.tsx
  plugins/app-launcher/src/platform/windows.ts
Due: eslint --fix, prettier --write

feat: window manager
  app/package.json
  app/src/main/plugin/load.ts
  packages/windows/win-get-exe-icon/package.json
  packages/windows/win-get-exe-icon/src/index.ts
  packages/windows/win-get-exe-icon/tsconfig.json
  plugins/app-launcher/src/platform/windows.ts
  plugins/window-manager/README.md
  plugins/window-manager/package.json
  plugins/window-manager/src/index.ts
  plugins/window-manager/tsconfig.json
  plugins/window-manager/tsup.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

ci: fix
  .github/workflows/lint.yml
Due: prettier --write

build: fix linter
  .eslintignore
  .eslintrc.yml
Due: prettier --write

style: lint
  plugins/window-manager/src/index.ts
Due: eslint --fix, prettier --write

chore: upd
  plugins/window-manager/src/index.ts
Due: eslint --fix, prettier --write

feat: hide all window
  plugins/window-manager/src/index.ts
Due: eslint --fix, prettier --write

fix: life cycle
  app/src/main/plugin/index.ts
Due: eslint --fix, prettier --write

build: use radash
  plugins/app-launcher/package.json
  plugins/app-launcher/src/core.ts
  yarn.lock
Due: eslint --fix, prettier --write

style: better plugin manager
  app/src/main/plugin/index.ts
  packages/plugin-sdk/src/types.ts
  packages/plugin-utils/src/transform.ts
Due: eslint --fix, prettier --write

chore: update
  app/src/main/ipc.ts
Due: eslint --fix, prettier --write

feat: add on focus hook
  app/src/main/plugin/index.ts
  app/src/main/window.ts
  packages/plugin-sdk/src/types.ts
Due: eslint --fix, prettier --write

build: remove mime-types
  packages/plugin-utils/package.json
  packages/plugin-utils/src/transform.ts
  packages/plugin-utils/tsup.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

ci: try to fix
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .lintstagedrc.yaml
  .prettierrc
  .syncpackrc
  app/electron-builder.yml
  app/package.json
  package.json
  packages/plugin-utils/package.json
  packages/windows/win-get-exe-icon/package.json
  plugins/app-launcher/package.json
  plugins/hello-world/package.json
  plugins/window-manager/package.json
  yarn.lock
Due: prettier --write

ci: fix
  .github/workflows/test.yml
  package.json
Due: prettier --write

style: format
  docs/developer/commands.md
  docs/developer/life-cycle.md
  docs/developer/views.md
  package.json
Due: prettier --write

ci: upd
  .github/workflows/lint.yml
Due: prettier --write

feat: commands priority
  app/electron-builder.yml
  app/package.json
  app/src/main/plugin/index.ts
  app/src/renderer/components/app.tsx
  app/src/renderer/components/command.tsx
  package.json
  packages/plugin-sdk/src/types.ts
  packages/plugin-utils/src/transform.ts
  plugins/window-manager/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

perf: do cleanup staff
  app/src/renderer/env.d.ts
  app/tsconfig.web.json
  plugins/app-launcher/src/core.ts
  plugins/app-launcher/src/index.ts
  plugins/window-manager/src/index.ts
Due: eslint --fix, prettier --write

fix: sec
  app/src/main/window.ts
  package.json
Due: eslint --fix, prettier --write

fix: show starlight in window manager
  plugins/window-manager/src/index.ts
Due: eslint --fix, prettier --write

feat: do cleanup stuff
  app/src/main/index.ts
  app/src/main/plugin/index.ts
Due: eslint --fix, prettier --write

docs: data dirs
  docs/.vitepress/config.mts
  docs/developer/persistence.md
  docs/maintainer/persistence.md
Due: prettier --write

feat: setup react router dom
  app/package.json
  app/src/renderer/components/action-bar.tsx
  app/src/renderer/layout/app.tsx
  app/src/renderer/main.tsx
  app/src/renderer/pages/app.tsx
  app/src/renderer/router.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: upd
  app/src/renderer/atoms/data.ts
  packages/plugin-utils/src/dto.ts
  packages/plugin-utils/src/index.ts
  packages/plugin-utils/src/transform.ts
Due: eslint --fix, prettier --write

chore: rename dir
  app/src/main/ipc.ts
  app/src/main/plugin/index.ts
  app/src/main/window.ts
  app/src/renderer/atoms/data.ts
  app/src/renderer/ipc.ts
  app/src/renderer/pages/app.tsx
  app/src/shared/ipc.ts
  app/tsconfig.node.json
  app/tsconfig.web.json
Due: eslint --fix, prettier --write

chore: add preference type
  app/src/main/window.ts
  package.json
  packages/plugin-sdk/package.json
  packages/plugin-sdk/src/builder.ts
  packages/plugin-sdk/src/index.ts
  packages/plugin-sdk/src/preference.ts
  packages/plugin-sdk/src/types.ts
  packages/plugin-sdk/tsup.config.ts
  packages/plugin-utils/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,astro}
  prettier --write: (any of: *.{ts,tsx,js,jsx,astro}) or (any of: *.{json,md,yml,yaml})
