Repository AkaraChen/starlight: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

style: lint
  .eslintrc.yml
  app/src/main/plugin/index.ts
  package.json
  packages/plugin-utils/src/transform.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: migrate config file
  .editorconfig
  app/.eslintrc.cjs
  app/.eslintrc.yml
  website/.eslintrc.cjs
  website/.eslintrc.yml
  website/.prettierrc.mjs
  website/.prettierrc.yml
  website/tailwind.config.ts
Due: eslint --fix, prettier --write

chore: upd
  app/package.json
  website/package.json
Due: prettier --write

chore: update
  app/src/main/plugin/index.ts
  app/src/main/server/router/plugin.ts
  app/src/renderer/components/command.tsx
  crates/window-manager/.cargo/config.toml
  crates/window-manager/.gitignore
  crates/window-manager/.npmignore
  crates/window-manager/.yarnrc.yml
  crates/window-manager/Cargo.toml
  crates/window-manager/__test__/index.spec.mjs
  crates/window-manager/build.rs
  crates/window-manager/index.d.ts
  crates/window-manager/index.js
  crates/window-manager/npm/win32-x64-msvc/README.md
  crates/window-manager/npm/win32-x64-msvc/package.json
  crates/window-manager/package.json
  crates/window-manager/rustfmt.toml
  crates/window-manager/src/lib.rs
  package.json
  packages/plugin-sdk/src/types.ts
  plugins/hello-world/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: build
  app/src/main/server/router/plugin.ts
  app/src/main/window.ts
Due: eslint --fix, prettier --write

chore: update spec
  packages/plugin-sdk/src/types.ts
  packages/plugin-utils/src/dto.ts
  packages/plugin-utils/src/transform.ts
Due: eslint --fix, prettier --write

feat: windows support of app launcher
  app/package.json
  app/src/main/plugin/index.ts
  app/src/main/plugin/load.ts
  app/src/renderer/components/app.tsx
  app/src/renderer/components/command.tsx
  app/tailwind.config.ts
  packages/plugin-utils/src/transform.ts
  plugins/app-launcher/README.md
  plugins/app-launcher/package.json
  plugins/app-launcher/src/core.ts
  plugins/app-launcher/src/index.ts
  plugins/app-launcher/tsconfig.json
  plugins/app-launcher/tsup.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: update
  packages/plugin-sdk/src/types.ts
  packages/plugin-utils/src/transform.ts
  plugins/app-launcher/package.json
  plugins/app-launcher/src/core.ts
  plugins/app-launcher/src/index.ts
  plugins/app-launcher/src/platform/index.ts
  plugins/app-launcher/src/platform/macos.ts
  plugins/app-launcher/src/platform/windows.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: vscode debug
  .vscode/launch.json
Due: prettier --write

chore: update scripts
  package.json
Due: prettier --write

chore: update deps
  app/package.json
Due: prettier --write

ci: fix
  yarn.lock
Due: none

feat: realtime app list
  app/electron-builder.yml
  app/package.json
  app/src/constants/event.ts
  app/src/constants/ipc.ts
  app/src/main/plugin/index.ts
  app/src/main/server/index.ts
  app/src/main/server/router/plugin.ts
  app/src/renderer/hooks/request.ts
  app/src/renderer/main.tsx
  packages/plugin-sdk/src/index.ts
  packages/plugin-utils/src/transform.ts
  plugins/app-launcher/src/core.ts
  plugins/app-launcher/src/platform/windows.ts
  plugins/hello-world/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: update types
  app/src/main/plugin/index.ts
Due: eslint --fix, prettier --write

build: no hono, fully ipc
  app/package.json
  app/src/constants/ipc.ts
  app/src/main/index.ts
  app/src/main/ipc.ts
  app/src/main/plugin/index.ts
  app/src/main/server/index.ts
  app/src/main/server/router/plugin.ts
  app/src/main/window.ts
  app/src/renderer/api/index.ts
  app/src/renderer/atoms/ipc.ts
  app/src/renderer/atoms/store.tsx
  app/src/renderer/components/app.tsx
  app/src/renderer/components/command.tsx
  app/src/renderer/hooks/request.ts
  app/src/renderer/main.tsx
  packages/plugin-sdk/src/types.ts
  packages/plugin-utils/src/dto.ts
  packages/plugin-utils/src/transform.ts
  plugins/app-launcher/src/index.ts
  plugins/hello-world/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

style: better type for rpc
  app/src/main/ipc.ts
  app/src/main/plugin/index.ts
  app/src/renderer/atoms/data.ts
  app/src/renderer/components/app.tsx
  app/src/renderer/ipc.ts
Due: eslint --fix, prettier --write

feat: better keymap
  app/src/main/index.ts
  app/src/main/window.ts
Due: eslint --fix, prettier --write

fix: esc
  app/src/renderer/components/app.tsx
Due: eslint --fix, prettier --write

feat: navigation bar
  app/.eslintrc.yml
  app/package.json
  app/src/renderer/components/app.tsx
  app/src/renderer/components/command.tsx
  app/src/renderer/components/kbd.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: better ui
  app/src/renderer/components/kbd.tsx
Due: eslint --fix, prettier --write

feat: app launcher for windows
  app/src/renderer/components/command.tsx
  packages/plugin-utils/src/transform.ts
  packages/win-dirs/README.md
  packages/win-dirs/package.json
  packages/win-dirs/src/index.ts
  packages/win-dirs/tsconfig.json
  packages/win-dirs/tsup.config.ts
  packages/win-get-exe-icon/README.md
  packages/win-get-exe-icon/package.json
  packages/win-get-exe-icon/src/index.ts
  packages/win-get-exe-icon/tsup.config.ts
  plugins/app-launcher/package.json
  plugins/app-launcher/src/core.ts
  plugins/app-launcher/src/index.ts
  plugins/app-launcher/src/platform/macos.ts
  plugins/app-launcher/src/platform/windows.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: remove unused config
  app/electron.vite.config.ts
Due: eslint --fix, prettier --write

chore: move package
  package.json
  packages/win-dirs/tsconfig.json
  packages/windows/win-dirs/README.md
  packages/windows/win-dirs/package.json
  packages/windows/win-dirs/src/index.ts
  packages/windows/win-dirs/tsconfig.json
  packages/windows/win-dirs/tsup.config.ts
  packages/windows/win-get-exe-icon/README.md
  packages/windows/win-get-exe-icon/package.json
  packages/windows/win-get-exe-icon/src/index.ts
  packages/windows/win-get-exe-icon/tsup.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

style: lint
  docs/turbo.json
  plugins/app-launcher/tsup.config.ts
  website/.eslintrc.yml
  website/src/data/landing.json
Due: eslint --fix, prettier --write

ci: setup lint ci
  .eslintrc.yml
  .github/workflows/lint.yml
  .prettierrc.yaml
  app/.eslintignore
  app/.eslintrc.yml
  app/package.json
  package.json
  plugins/app-launcher/package.json
  website/.eslintrc.yml
  website/.prettierignore
  website/.prettierrc.yml
  website/astro.config.mjs
  website/package.json
  website/src/services/data.service.ts
  website/tailwind.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

ci: upd
  .github/workflows/lint.yml
Due: prettier --write

ci: add cache
  .github/workflows/lint.yml
Due: prettier --write

build: add syncpack
  package.json
  yarn.lock
Due: prettier --write

chore: format
  .github/workflows/lint.yml
  app/package.json
  docs/package.json
  package.json
  packages/plugin-sdk/package.json
  packages/plugin-utils/package.json
  packages/windows/win-dirs/package.json
  packages/windows/win-get-exe-icon/package.json
  plugins/app-launcher/package.json
  plugins/hello-world/package.json
  website/package.json
  yarn.lock
Due: prettier --write

chore: add version
  packages/plugin-utils/package.json
  packages/windows/win-dirs/package.json
  packages/windows/win-get-exe-icon/package.json
  plugins/app-launcher/package.json
  plugins/hello-world/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,astro}
  prettier --write: (any of: *.{ts,tsx,js,jsx,astro}) or (any of: *.{json,md,yml,yaml})
